/*
a.icon {
    color: #005000 !important;
}
*/

@media screen and (min-width: 1024px) {
    .inner .special h1 {
        margin-top: -5.5rem;
    }
}
.special h2, .special h1, .special p {
    color: #000;
}

.discord-link:hover, a.icon:hover {
    opacity: 0.7;
}

.custom-wrapper {
    background-color: rgba(255,255,255,0);
}

.content h3 {
  color: #ededed !important;
}

.highlights .content .icon {
      margin: 0.5rem; }
}

.cfp {
    line-height: 1em;
    padding:0;
    margin: 0;
}

/* events.html */

.wrapper .content {
 background: #121212 !important;
  color: #ededed;
}

hr {
    background: #555555 !important;
}


/* cfp.html */

.inner-list {
    line-height: 0.5rem;
    margin-left: 4rem;
}

._red {
    color: #ce1b28;
}


/* footer; all pages */

.team {
    display: inline-flex;
    flex-wrap: wrap;
}

.team > li {
    display: flexbox;
    margin: 0.25rem 1rem;
}
